@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --commom-color: #1E293B;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;

}

a:hover {
  color: palevioletred;
}

li {
  list-style-type: none;
  margin-left: 20px;
}

button,
input {
  font-family: inherit;
}

img {
  width: 100%;
  /* display: block; */
  /* height: auto; */
}

.header {
  background-color: var(--commom-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  align-items: baseline;
}

.header__title {}

.header ul {
  display: flex;
}


.showcase {
  background-color: var(--commom-color);
  color: white;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  height: 300px;
  padding: 15px 15px;
  /* align-items: center */
}

.showcase .info {
  padding-top: 70px;
  line-height: 2rem;
}

.showcase input {
  width: 40%;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.showcase button {
  background-color: aqua;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.showcase button:hover {
  background-color: black;
  color: white;
}

.feature-section {
  margin-top: 4%;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.feature-section .section {
  text-align: center;
}

.info {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
}

.info h3 {
  padding: 10px 0;
  color: var(--commom-color);
}

.info p {
  text-align: justify;
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  color: white;
  gap: 10px;
  padding: 20px 5px;
}

.card {
  background-color: var(--commom-color);
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.person-detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}


.person-detail img {
  clip-path: circle();
}